/.persistent
/ATP-P-natives
/ATP-P.jar
/ATP-P.json
/config
/crash-reports
/defaultconfigs
/enigmatic_persistence.dat
/local
/logs
/mods
/options.txt
/patchouli_books
/patchouli_data.json
/PCL
/quests_structures
/resourcepacks
/saves
/shaderpacks
/usercache.json
/usernamecache.json